p {
  margin: 0;
}

.kanban-header {
  height: 100px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 5px;

  h1 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  input {
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    outline: none;
  }
}

.kanban {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  position: relative;

  .kanban-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  mat-card {
    padding: 16px;
    text-align: center;
    background-color: #282953;
    color: #fff;
  }

  .kanban-list {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 16px;
    margin: 0 50px;
    background-color: #282953;
    border-left: 3px solid red;
  }

  .task-titel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    border-radius: 10px;
    width: 100%;
  }

  .task-note {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    background-color: #16103a;
    color: #fff;
    border-radius: 10px;
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;

    button {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
}

.add-task-btn {
  position: fixed;
  right: 56px;
  bottom: 56px;
}

.red-border {
  border-bottom: 3px solid red;
}

.green-border {
  border-bottom: 3px solid green;
}

.blue-border {
  border-bottom: 3px solid blue;
}
