<div class="kanban-header">
  <h1><mat-icon>inventory_2</mat-icon> Kanban</h1>
  <div class="filter-container">
    <input type="text" />
    <mat-icon>search</mat-icon>
  </div>
</div>

<div class="kanban">
  <div class="kanban-container">
    <mat-card>Pending</mat-card>
    <div *ngFor="let kanban of allNotes" class="kanban-list">
      <div class="task-titel">
        {{ kanban.firstName + " " + kanban.lastName }}
      </div>
      <div>
        <div>{{ kanban.note }}</div>
        <p>{{ kanban.price }}</p>
      </div>
      <button
        (click)="editNote(kanban)"
        mat-icon-button
        aria-label="Example icon button with a edit icon"
        matTooltip="Edit Task"
        matTooltipPosition="above"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <div class="kanban-container">
    <mat-card>In progress</mat-card>
  </div>
  <div class="kanban-container">
    <mat-card>Done</mat-card>
  </div>
</div>

<button
  (click)="openDialog()"
  class="add-task-btn"
  mat-fab
  color="primary"
  matTooltip="Add user"
  matTooltipPosition="above"
>
  <mat-icon>add</mat-icon>
</button>
