<div class="kanban-header">
  <h1><mat-icon>inventory_2</mat-icon> Kanban</h1>
  <div class="filter-container">
    <input type="text" />
    <mat-icon>search</mat-icon>
  </div>
</div>

<button
  (click)="openDialog()"
  class="add-task-btn"
  mat-fab
  color="primary"
  matTooltip="Add user"
  matTooltipPosition="above"
>
  <mat-icon>add</mat-icon>
</button>

<app-kanban-drag-and-drop
  *ngIf="showKanbanDragAndDropComponent"
  [allNotesfromKanban]="allNotes"
  (editNote)="onEditNote($event)"
></app-kanban-drag-and-drop>
