<div class="drag-and-drop-container">
  <div class="column-container kanban">
    <div class="column-header">
      <mat-card class="red-border">Pending</mat-card>
    </div>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="pendingTasks"
      [cdkDropListConnectedTo]="[doneList, inProgressList]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card
        *ngFor="let kanban of pendingTasks; let i = index"
        class="kanban-list"
        [ngClass]="{ 'border-left-pending': kanban.noteStatus == 'Pending' }"
        cdkDrag
        [cdkDragData]="kanban"
      >
        <div class="task-titel">
          <mat-icon>perm_identity</mat-icon>

          <p>{{ kanban.firstName + " " + kanban.lastName }}</p>
        </div>
        <div class="task-note">
          <div class="scroll-container">
            <div class="note-content">{{ kanban.note }}</div>
          </div>
        </div>

        <div class="task-edit-container">
          <button
            (click)="triggerEditTaskEvent(kanban)"
            mat-icon-button
            aria-label="Example icon button with a edit icon"
            matTooltip="Edit Task"
            matTooltipPosition="above"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="openDialogDeleteTask(kanban)"
            mat-icon-button
            aria-label="Example icon button with a delete icon"
            matTooltip="Delete Task"
            matTooltipPosition="above"
          >
            <mat-icon class="delete">delete</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="column-container kanban">
    <div class="column-header">
      <mat-card class="green-border">In progress</mat-card>
    </div>

    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgressTasks"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card
        *ngFor="let kanban of inProgressTasks; let i = index"
        class="kanban-list"
        [ngClass]="{
          'border-left-in-progress': kanban.noteStatus == 'InProgress'
        }"
        cdkDrag
        [cdkDragData]="kanban"
      >
        <div class="task-titel">
          <mat-icon>perm_identity</mat-icon>
          <p>{{ kanban.firstName + " " + kanban.lastName }}</p>
        </div>
        <div class="task-note">
          <div class="scroll-container">
            <div class="note-content">{{ kanban.note }}</div>
          </div>
        </div>

        <div class="task-edit-container">
          <button
            (click)="triggerEditTaskEvent(kanban)"
            mat-icon-button
            aria-label="Example icon button with a edit icon"
            matTooltip="Edit Task"
            matTooltipPosition="above"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="openDialogDeleteTask(kanban)"
            mat-icon-button
            aria-label="Example icon button with a delete icon"
            matTooltip="Delete Task"
            matTooltipPosition="above"
          >
            <mat-icon class="delete">delete</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="column-container kanban">
    <div class="column-header">
      <mat-card class="blue-border">Done</mat-card>
    </div>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="doneTasks"
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card
        *ngFor="let kanban of doneTasks; let i = index"
        class="kanban-list"
        [ngClass]="{
          'border-left-done': kanban.noteStatus == 'Done'
        }"
        cdkDrag
        [cdkDragData]="kanban"
      >
        <div class="task-titel">
          <mat-icon>perm_identity</mat-icon>
          <p>{{ kanban.firstName + " " + kanban.lastName }}</p>
        </div>
        <div class="task-note">
          <div class="scroll-container">
            <div class="note-content">{{ kanban.note }}</div>
          </div>
        </div>

        <div class="task-edit-container">
          <button
            (click)="triggerEditTaskEvent(kanban)"
            mat-icon-button
            aria-label="Example icon button with a edit icon"
            matTooltip="Edit Task"
            matTooltipPosition="above"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="openDialogDeleteTask(kanban)"
            mat-icon-button
            aria-label="Example icon button with a delete icon"
            matTooltip="Delete Task"
            matTooltipPosition="above"
          >
            <mat-icon class="delete">delete</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
