.mat-drawer-container {
  height: 100vh;
  // background-color: rgb(246, 247, 249);
  // background-color: #0c182b;
  background-color: #16103a;
}

.menu-icon {
  cursor: pointer;
}

.sidenav {
  width: 250px;
}

.logo-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
  display: flex;
  align-items: center;
}

mat-toolbar,
mat-toolbar-row {
  min-height: 56px;
  height: 56px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 57px);
  background-color: #282953;
  color: #fff;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;

    mat-icon {
      margin-right: 16px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &:focus {
      outline: none;
    }
  }
}

.sidebar-bottom-section {
  margin-bottom: 100px;
}

.router-container {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 16px;
  padding-bottom: 16px;
  max-width: 1280px;
}

.mat-toolbar {
  width: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
