.products-header {
  height: 100px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 5px;

  h1 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  input {
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    outline: none;
  }
}

mat-card {
  padding: 16px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #282953;
  color: #fff;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;

  table {
    display: flex;
    flex-direction: column;
  }

  thead {
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      cursor: unset;
      background-color: initial;
      display: flex;

      th {
        flex: 1;
      }
    }
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;

    &:hover {
      background-color: #3f51b5;
      cursor: pointer;
    }

    td {
      height: 48px;
      display: flex;
      flex: 1;
      align-items: center;

      &:first-child {
        padding-left: 16px;
      }
    }

    th {
      text-align: start;
      color: #3151ff;
      font-weight: 600;

      &:first-child {
        padding-left: 16px;
      }
    }
  }

  button {
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.add-product-btn {
  position: fixed;
  right: 56px;
  bottom: 56px;
}

.delete {
  color: red;
}

.product-filter {
  margin-bottom: 30px;

  p {
    color: #fff;
    font-size: 14px;
  }

  .product-filter-btn {
    display: flex;
    gap: 20px;

    button {
      padding: 15px 20px;
      border: none;
      border-radius: 5px;
      background-color: #7090d7;
      color: #fff;
      cursor: pointer;
    }

    .selected {
      background-color: var(--primary-color);
    }
  }
}

.dNone {
  display: none !important;
}
