.products-header {
  height: 100px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0 30px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 5px;

  h1 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

mat-card {
  padding: 16px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #282953;
  color: #fff;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }

  &:last-child {
    border-bottom: 0;
  }

  td {
    height: 48px;

    &:first-child {
      padding-left: 16px;
    }
  }

  th {
    text-align: start;
    color: #3151ff;

    &:first-child {
      padding-left: 16px;
    }
  }
}

.add-product-btn {
  position: fixed;
  right: 56px;
  bottom: 56px;
}

.delete {
  color: red;
}

.product-filter {
  margin-bottom: 30px;

  p {
    color: #fff;
    font-size: 14px;
  }

  .product-filter-btn {
    display: flex;
    gap: 20px;

    button {
      padding: 15px 20px;
      border: none;
      border-radius: 5px;
      background-color: #7090d7;
      color: #fff;
      cursor: pointer;
    }

    .selected {
      background-color: var(--primary-color);
    }
  }
}
