<div class="products-header">
  <h1><mat-icon>inventory_2</mat-icon> Products</h1>
  <div class="filter-container">
    <input
      type="text"
      placeholder="{{ selectedFilter }}"
      (input)="filterProductFromInput()"
      [(ngModel)]="filterInputValue"
    />
    <mat-icon>search</mat-icon>
  </div>
</div>

<div class="product-filter">
  <p>Filter by:</p>
  <div class="product-filter-btn">
    <button
      [class.selected]="selectedFilter === 'Product Name'"
      (click)="selectedFilter = 'Product Name'; filterProducts()"
    >
      {{ mobileView ? "Product" : "Product Name" }}
    </button>
    <button
      [class.selected]="selectedFilter === 'Price per Unit'"
      (click)="selectedFilter = 'Price per Unit'; filterProducts()"
    >
      {{ mobileView ? "Price" : "Price per Unit" }}
    </button>
    <button
      *ngIf="!mobileView"
      [class.selected]="selectedFilter === 'Type'"
      (click)="selectedFilter = 'Type'; filterProducts()"
    >
      Type
    </button>
  </div>
</div>

<mat-card>
  <table class="order-table">
    <thead>
      <tr>
        <th>{{ mobileView ? "Product" : "Product Name" }}</th>

        <th>{{ mobileView ? "Price" : "Price per Unit" }}</th>

        <th *ngIf="!mobileView">Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody [ngClass]="{ dNone: filterNotFound }">
      <ng-container
        *ngIf="filteredProductsInputField.length > 0; else allProductsBlock"
      >
        <tr *ngFor="let product of filteredProductsInputField">
          <td>{{ product.productName }}</td>
          <td>{{ product.price }} CHF</td>
          <td>{{ product.orderType }}</td>
          <td class="action-container">
            <button
              (click)="editProduct(product)"
              mat-icon-button
              aria-label="Example icon button with a edit icon"
              matTooltip="Edit Product"
              matTooltipPosition="above"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="deleteProduct(product)"
              class="delete"
              mat-icon-button
              aria-label="Example icon button with a delete icon"
              matTooltip="Delete Product"
              matTooltipPosition="above"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-template #allProductsBlock>
        <tr *ngFor="let product of allProducts">
          <td>{{ product.productName }}</td>
          <td>{{ product.price }} CHF</td>
          <td *ngIf="!mobileView">{{ product.orderType }}</td>
          <td class="action-container">
            <button
              (click)="editProduct(product)"
              mat-icon-button
              aria-label="Example icon button with a edit icon"
              matTooltip="Edit Product"
              matTooltipPosition="above"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="deleteProduct(product)"
              class="delete"
              mat-icon-button
              aria-label="Example icon button with a delete icon"
              matTooltip="Delete Product"
              matTooltipPosition="above"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</mat-card>

<button
  (click)="openDialogAdProduct()"
  class="add-product-btn"
  mat-fab
  color="primary"
  matTooltip="Add Product"
  matTooltipPosition="above"
>
  <mat-icon>add</mat-icon>
</button>
