.user-detail-header {
  min-height: 250px;
  background-color: #f6a30b;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 16px;

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.user-details {
  height: 100px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2 {
    margin-bottom: 0;
  }
}

.pin-right-upper-corner {
  position: absolute;
  right: 8px;
  top: 8px;
}

.detail-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    // &:first-child {
    //   cursor: unset;
    //   &:hover {
    //     background-color: unset;
    //   }
  }

  // &:last-child {
  //   cursor: unset;
  //   &:hover {
  //     background-color: unset;
  //   }
  // }

  &:last-child {
    border-bottom: 0;
  }
  // cursor: pointer;

  td {
    height: 48px;

    &:first-child {
      padding-left: 16px;
    }
  }

  th {
    text-align: start;
    &:first-child {
      padding-left: 16px;
    }
  }

  // &:hover {
  //   background-color: rgba(0, 0, 0, 0.04);
  // }
}

.user-detail-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

mat-card {
  width: 100%;
  height: auto;

  h2 {
    text-align: center;
  }

  p {
    display: flex;
    justify-content: space-between;
  }
}

.delete {
  color: red;
}

.add-order-btn {
  position: absolute;
  right: 56px;
  bottom: 56px;
}
