.user-detail-header {
  min-height: 180px;
  background-color: #3f51b5;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.user-details {
  height: 100px;
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;

  h2 {
    margin-bottom: 0;
  }

  a {
    color: #fff;
  }
}

.pin-right-upper-corner {
  position: absolute;
  right: 8px;
  top: 8px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.detail-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);

    &:hover {
      background-color: #3f51b5;
      cursor: pointer;
    }

    &:first-child {
      background-color: initial;
      cursor: unset;
    }
  }

  &:last-child {
    border-bottom: 0;
  }

  td {
    height: 48px;

    &:first-child {
      padding-left: 16px;
    }
  }

  th {
    text-align: start;
    color: #3151ff;
    font-weight: 600;

    &:first-child {
      padding-left: 16px;
    }
  }

  button {
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}

.user-detail-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

mat-card {
  width: 100%;
  height: auto;
  padding: 16px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #282953;
  color: #fff;

  h2 {
    text-align: center;
  }

  p {
    display: flex;
    justify-content: space-between;
  }
}

.delete {
  color: red;
}

.add-order-btn {
  position: fixed;
  right: 56px;
  bottom: 56px;
}

.purchase-total-container {
  display: flex;
  justify-content: space-between;
}

.total-orders-container {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  p {
    margin: 0;
  }
}

.total-revenue {
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.bold {
  font-weight: 600;
}

.purchases-container {
  color: #fff;
  font-size: 14px;
}
