<mat-card class="user-detail-header">
  <button
    [matMenuTriggerFor]="userMenu"
    class="pin-right-upper-corner"
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserDetail()">Edit</button>
  </mat-menu>

  <img src="./assets/img/profile-img.png" alt="" />
  <div class="user-details">
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <span>{{ user.email }}</span>
    <span>{{ user.birthDate }}</span>
  </div>
</mat-card>

<mat-card class="mt-32">
  <button
    [matMenuTriggerFor]="addressMenu"
    class="pin-right-upper-corner"
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item (click)="editMenu()">Edit</button>
  </mat-menu>

  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{ user.street }} <br />
    {{ user.zipCode }} {{ user.city }}
  </mat-card-content>
</mat-card>

<mat-card class="mt-32">
  <table class="detail-table">
    <tr>
      <th>Order Date</th>
      <th>Amount Sold</th>
      <th>Product Name</th>
      <th>Order Status</th>
      <th>Price per Unit</th>
      <th>Total Value</th>
    </tr>
    <tr *ngFor="let order of allOrders">
      <td>{{ order.orderDate }}</td>
      <td>{{ order.amount }}</td>
      <td>{{ order.product }}</td>
      <td>{{ order.orderStatus }}</td>
      <td>{{ order.price }} CHF</td>
      <td>{{ order.amount * order.price }} CHF</td>
    </tr>
    <tr>
      <td colspan="5"></td>
      <!-- Leere Zellen über mehrere Spalten -->
      <td>
        <!-- Gesamtsumme berechnen -->
        <strong>Total: {{ calculateTotal() }} CHF</strong>
      </td>
    </tr>
  </table>
</mat-card>
