<mat-card class="user-detail-header">
  <button class="pin-right-upper-corner" mat-icon-button (click)="deleteUser()">
    <mat-icon>delete</mat-icon>
  </button>

  <img src="./assets/img/profile-img.png" alt="" />
  <div class="user-details">
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <span>{{ user.email }}</span>
    <a href="mailto:{{ user.email }}">
      <mat-icon
        matTooltipPosition="below"
        matTooltip="Send mail to {{ user.firstName }}"
        >mail</mat-icon
      >
    </a>
  </div>
</mat-card>

<div class="user-detail-container mt-32">
  <mat-card class="padding-16">
    <button
      [matMenuTriggerFor]="userMenu"
      class="pin-right-upper-corner"
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="editUserDetail()">Edit</button>
    </mat-menu>

    <mat-card-content>
      <h2>About user</h2>
      <p>
        <span>First name:</span>
        <span>{{ user.firstName }}</span>
      </p>
      <p>
        <span> Last name: </span>
        <span>{{ user.lastName }}</span>
      </p>
      <p>
        <span>Birthdate:</span>
        <span>{{ user.birthDate }}</span>
      </p>
      <p>
        <span>E-Mail:</span>
        <span>{{ user.email }}</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="padding-16">
    <button
      [matMenuTriggerFor]="userMenuAdress"
      class="pin-right-upper-corner"
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #userMenuAdress="matMenu">
      <button mat-menu-item (click)="editUserAdress()">Edit</button>
    </mat-menu>

    <mat-card-content>
      <h2>Address</h2>
      <p>
        <span>Street:</span>
        <span>{{ user.street }}</span>
      </p>
      <p>
        <span>Zip code:</span>
        <span>{{ user.zipCode }}</span>
      </p>
      <p>
        <span>City</span>
        <span> {{ user.city }}</span>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="mt-32">
  <p class="purchases-container">Purchases:</p>
  <div class="purchase-total-container">
    <mat-card class="total-orders-container">
      <p>
        Total Orders:
        <span class="bold"
          >&nbsp;{{ formatNumberWithApostrophe(allOrders.length) }}</span
        >
      </p>
    </mat-card>

    <mat-card class="total-orders-container">
      <p class="total-revenue">
        <span>Total Revenue:</span>
        <span class="bold"
          >{{ formatNumberWithApostrophe(calculateTotal()) }} CHF</span
        >
      </p>
    </mat-card>
  </div>
</div>

<mat-card class="mt-32">
  <table class="detail-table">
    <thead>
      <tr>
        <th *ngIf="!mobileView">Order Date</th>
        <th *ngIf="!mobileViewSmall" class="amount-container">Amount Sold</th>
        <th class="ellipsis-container">
          {{ mobileViewSmall ? "Product" : "Product Name" }}
        </th>

        <th *ngIf="!mobileView">Order Status</th>
        <th class="price-container">
          {{ mobileViewSmall ? "Price" : "Price per Unit" }}
        </th>

        <th *ngIf="!mobileView">Total Value</th>
        <th class="action-container">Action</th>
      </tr>
    </thead>
    <tr *ngFor="let order of allOrders">
      <td *ngIf="!mobileView">{{ order.orderDate }}</td>
      <td *ngIf="!mobileViewSmall" class="amount-container">
        {{ order.amount }}
      </td>
      <td class="ellipsis-container">
        <div class="ellipsis-text">{{ order.product }}</div>
      </td>
      <td *ngIf="!mobileView">{{ order.orderStatus }}</td>
      <td class="price-container">
        {{ formatNumberWithApostrophe(order.price) }} CHF
      </td>
      <td *ngIf="!mobileView">
        {{ formatNumberWithApostrophe(order.amount * order.price) }} CHF
      </td>
      <td class="action-container">
        <button
          (click)="editOrder(order)"
          mat-icon-button
          aria-label="Example icon button with a edit icon"
          matTooltip="Edit Order"
          matTooltipPosition="above"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="deleteOrder(order)"
          class="delete"
          mat-icon-button
          aria-label="Example icon button with a delete icon"
          matTooltip="Delete Order"
          matTooltipPosition="above"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
</mat-card>

<button
  (click)="addOrder()"
  class="add-order-btn"
  mat-fab
  color="primary"
  matTooltip="Add order"
  matTooltipPosition="above"
>
  <mat-icon>add</mat-icon>
</button>
