<mat-card class="user-detail-header">
  <button class="pin-right-upper-corner" mat-icon-button (click)="deleteUser()">
    <mat-icon>delete</mat-icon>
  </button>

  <img src="./assets/img/profile-img.png" alt="" />
  <div class="user-details">
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <span>{{ user.email }}</span>
    <a href="mailto:{{ user.email }}">
      <mat-icon
        matTooltipPosition="below"
        matTooltip="Send mail to {{ user.firstName }}"
        >mail</mat-icon
      >
    </a>
  </div>
</mat-card>

<mat-card class="mt-32">
  <button
    [matMenuTriggerFor]="addressMenu"
    class="pin-right-upper-corner"
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item (click)="editMenu()">Edit</button>
  </mat-menu>
</mat-card>

<div class="user-detail-container">
  <mat-card class="padding-16">
    <button
      [matMenuTriggerFor]="userMenu"
      class="pin-right-upper-corner"
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="editUserDetail()">Edit</button>
    </mat-menu>

    <mat-card-content>
      <h2>About user</h2>
      <p>
        <span>First name:</span>
        <span>{{ user.firstName }}</span>
      </p>
      <p>
        <span> Last name: </span>
        <span>{{ user.lastName }}</span>
      </p>
      <p>
        <span>Birthdate:</span>
        <span>{{ user.birthDate }}</span>
      </p>
      <p>
        <span>E-Mail:</span>
        <span>{{ user.email }}</span>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="padding-16">
    <button
      [matMenuTriggerFor]="userMenuAdress"
      class="pin-right-upper-corner"
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #userMenuAdress="matMenu">
      <button mat-menu-item (click)="editUserAdress()">Edit</button>
    </mat-menu>

    <mat-card-content>
      <h2>Address</h2>
      <p>
        <span>Street:</span>
        <span>{{ user.street }}</span>
      </p>
      <p>
        <span>Zip code:</span>
        <span>{{ user.zipCode }}</span>
      </p>
      <p>
        <span>City</span>
        <span> {{ user.city }}</span>
      </p>
    </mat-card-content>
  </mat-card>
</div>

<div class="mt-32">
  <p>Purchases:</p>
  <div class="purchase-total-container">
    <mat-card class="total-orders-container">
      <p>
        Total Orders:
        <span class="bold"
          >&nbsp;{{ formatNumberWithApostrophe(allOrders.length) }}</span
        >
      </p>
    </mat-card>

    <mat-card class="total-orders-container">
      <p class="total-revenue">
        <span>Total Revenue:</span>
        <span class="bold"
          >{{ formatNumberWithApostrophe(calculateTotal()) }} CHF</span
        >
      </p>
    </mat-card>
  </div>
</div>

<mat-card class="mt-32">
  <table class="detail-table">
    <tr>
      <th>Order Date</th>
      <th>Amount Sold</th>
      <th>Product Name</th>
      <th>Order Status</th>
      <th>Price per Unit</th>
      <th>Total Value</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let order of allOrders">
      <td>{{ order.orderDate }}</td>
      <td>{{ order.amount }}</td>
      <td>{{ order.product }}</td>
      <td>{{ order.orderStatus }}</td>
      <td>{{ formatNumberWithApostrophe(order.price) }} CHF</td>
      <td>{{ formatNumberWithApostrophe(order.amount * order.price) }} CHF</td>
      <td class="action-container">
        <button
          (click)="editOrder(order)"
          mat-icon-button
          aria-label="Example icon button with a edit icon"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          (click)="deleteOrder(order)"
          class="delete"
          mat-icon-button
          aria-label="Example icon button with a delete icon"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    <!-- <tr>
      <td colspan="5"></td>
      <td>
        <strong
          >Total: {{ formatNumberWithApostrophe(calculateTotal()) }} CHF</strong
        >
      </td>
    </tr> -->
  </table>
</mat-card>

<button
  (click)="openDialog()"
  class="add-order-btn"
  mat-fab
  color="primary"
  matTooltip="Add order"
  matTooltipPosition="above"
>
  <mat-icon>add</mat-icon>
</button>
