<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <h1 mat-dialog-title>Edit Task</h1>
  <form mat-dialog-content #orderForm="ngForm">
    <div class="pt-6">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>User Name</mat-label>

        <mat-select
          [(ngModel)]="selectedUser"
          name="userName"
          [disabled]="loading"
        >
          <mat-option *ngFor="let user of userName" [value]="user">
            {{ user.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" class="mr-16 full-width">
        <mat-label>Note</mat-label>
        <textarea
          matInput
          [disabled]="loading"
          [(ngModel)]="note"
          class="mr-16 full-width"
          placeholder="Note"
          name="note"
          required
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Note Status</mat-label>
        <mat-select
          [(ngModel)]="selectedStatus"
          name="noteStatus"
          [disabled]="loading"
        >
          <mat-option *ngFor="let note of noteStatus" [value]="note.value">
            {{ note.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
  <div mat-dialog-actions>
    <button (click)="dialogRef.close()" [disabled]="loading" mat-button>
      Cancel
    </button>
    <button
      [disabled]="loading || !isSaveButtonDisabled()"
      mat-button
      (click)="saveNote()"
    >
      Add
    </button>
  </div>
</div>
