<div class="user-header">
  <h1><mat-icon>perm_identity</mat-icon> User</h1>
  <div class="filter-container">
    <input
      type="text"
      placeholder="{{ selectedFilter }}"
      (input)="filterUserFromInput()"
      [(ngModel)]="filterInputValue"
    />
    <mat-icon>search</mat-icon>
  </div>
</div>

<div class="user-filter">
  <p>Filter by:</p>
  <div class="user-filter-btn">
    <button
      [class.selected]="selectedFilter === 'First Name'"
      (click)="selectedFilter = 'First Name'; filterUsers()"
    >
      First Name
    </button>
    <button
      [class.selected]="selectedFilter === 'Last Name'"
      (click)="selectedFilter = 'Last Name'; filterUsers()"
    >
      Last Name
    </button>
    <button
      [class.selected]="selectedFilter === 'City'"
      (click)="selectedFilter = 'City'; filterUsers()"
    >
      City
    </button>
  </div>
</div>

<mat-card>
  <table class="user-table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>E-Mail</th>
      </tr>
    </thead>
    <tbody [ngClass]="{ dNone: filterNotFound }">
      <ng-container
        *ngIf="filteredUsersInputField.length > 0; else allUserssBlock"
      >
        <tr
          *ngFor="let user of filteredUsersInputField"
          [routerLink]="
            !isAnonymous ? ['/user', user.id] : ['/guest/user', user.id]
          "
          (click)="this.sidenav.getUserDataToSidenav(user)"
        >
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.city }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </ng-container>
      <ng-template #allUserssBlock>
        <tr
          *ngFor="let user of filteredUsers"
          [routerLink]="
            !isAnonymous ? ['/user', user.id] : ['/guest/user', user.id]
          "
          (click)="this.sidenav.getUserDataToSidenav(user)"
        >
          <td>
            {{ user.firstName }}
          </td>
          <td>
            {{ user.lastName }}
          </td>
          <td>
            {{ user.city }}
          </td>
          <td>
            {{ user.email }}
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</mat-card>

<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="Add user"
  matTooltipPosition="above"
>
  <mat-icon>add</mat-icon>
</button>
