mat-card {
  padding: 16px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #282953;
  color: #fff;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;

  table {
    display: flex;
    flex-direction: column;
  }

  thead {
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      cursor: unset;
      background-color: initial;
      display: flex;

      th {
        flex: 1;
      }
    }
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    gap: 20px;

    @media (max-width: 500px) {
      gap: 10px;
    }

    &:hover {
      background-color: #3f51b5;
      cursor: pointer;
    }

    td {
      height: 48px;
      display: flex;
      flex: 1;
      align-items: center;

      &:first-child {
        padding-left: 16px;
      }
    }

    th {
      text-align: start;
      color: #3151ff;
      font-weight: 600;

      &:first-child {
        padding-left: 16px;
      }
    }
  }

  th {
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: 500;
    text-align: start;
  }
}

.user-header {
  height: 100px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 5px;

  h1 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  .filter-container {
    display: flex;
    align-items: center;
    gap: 10px;

    @media (max-width: 375px) {
      gap: 5px;
    }
  }

  input {
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    outline: none;

    @media (max-width: 430px) {
      width: 100px;
    }

    @media (max-width: 375px) {
      width: 85px;
    }
  }
}

.user-filter {
  margin-bottom: 30px;

  p {
    color: #fff;
    font-size: 14px;
  }

  .user-filter-btn {
    display: flex;
    gap: 20px;

    button {
      padding: 15px 20px;
      border: none;
      border-radius: 5px;
      background-color: #7090d7;
      color: #fff;
      cursor: pointer;
    }

    .selected {
      background-color: var(--primary-color);
    }

    @media (max-width: 500px) {
      flex-direction: column;
    }
  }
}

.add-user-btn {
  position: fixed;
  right: 56px;
  bottom: 56px;

  @media (max-width: 800px) {
    right: 20px;
    bottom: 20px;
  }
}

.dNone {
  display: none !important;
}

.loading-spinner {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%);
}

.name-container {
  @media (max-width: 1100px) {
    max-width: 180px;
  }

  @media (max-width: 1000px) {
    max-width: 160px;
  }

  @media (max-width: 900px) {
    max-width: 130px;
  }

  @media (max-width: 850px) {
    max-width: 120px;
  }

  @media (max-width: 799px) {
    max-width: 500px;
  }
}
