<div class="user-header">
  <h1>User</h1>
</div>

<div class="user-filter">
  <p>Filter by:</p>
  <div class="user-filter-btn">
    <button
      [class.selected]="selectedFilter === 'First Name'"
      (click)="selectedFilter = 'First Name'; filterUsers()"
    >
      First Name
    </button>
    <button
      [class.selected]="selectedFilter === 'Last Name'"
      (click)="selectedFilter = 'Last Name'; filterUsers()"
    >
      Last Name
    </button>
    <button
      [class.selected]="selectedFilter === 'City'"
      (click)="selectedFilter = 'City'; filterUsers()"
    >
      City
    </button>
  </div>
</div>

<mat-card>
  <table class="user-table">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>City</th>
      <th>E-Mail</th>
    </tr>
    <tr *ngFor="let user of filteredUsers" [routerLink]="['/user', user.id]">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.city }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </table>

  <!-- <mat-card-content>Simple card</mat-card-content> -->
</mat-card>

<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="Add user"
  matTooltipPosition="above"
>
  <mat-icon>add</mat-icon>
</button>
