<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <h1 mat-dialog-title>Edit Order</h1>
  <div mat-dialog-content>
    <div>
      <div>
        <div class="pt-6">
          <mat-form-field appearance="outline" class="mr-16 full-width">
            <mat-label>Product Name</mat-label>
            <mat-select
              [(ngModel)]="selectedProduct"
              name="productName"
              [disabled]="loading"
            >
              <mat-option *ngFor="let product of productName" [value]="product">
                {{ product.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field appearance="outline" class="mr-16">
            <mat-label>Amount</mat-label>
            <input
              type="number"
              [disabled]="loading"
              [(ngModel)]="order.amount"
              matInput
              placeholder="Amount"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Order Status</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="orderStatus">
              <mat-option
                *ngFor="let orderStatusOption of orderStatus"
                [value]="orderStatusOption.value"
              >
                {{ orderStatusOption.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div mat-dialog-actions>
        <button (click)="dialogRef.close()" [disabled]="loading" mat-button>
          Cancel
        </button>
        <button
          (click)="saveOrder()"
          [disabled]="loading || isSaveButtonDisabled()"
          mat-button
          cdkFocusInitial
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
