<h1 *ngIf="displayName">Welcome Back {{ displayName }} 👋</h1>
<h1 *ngIf="!displayName">Hello Guest! 👋</h1>

<div class="overview">
  <mat-card>
    <span> <mat-icon>group</mat-icon>User </span>
    <p>{{ numberOfUsers }}</p>
  </mat-card>
  <mat-card>
    <span><mat-icon>inventory_2</mat-icon>Products</span>
    <p>11</p>
  </mat-card>
  <mat-card>
    <span> <mat-icon>bar_chart_4_bars</mat-icon>Revenue</span>
    <p>{{ totalAmount }} CHF</p>
  </mat-card>
</div>

<div class="first-chart-container">
  <span><mat-icon>pin_drop</mat-icon>User Residence</span>
  <canvas id="MyChartResidence">{{ chartResidence }}</canvas>
</div>

<div class="product-sales-section">
  <div class="second-chart-container">
    <span><mat-icon>pin_drop</mat-icon>Product sales</span>
    <canvas id="MyChartProducts">{{ chartResidence }}</canvas>
  </div>
  <div class="card-container">
    <mat-card>
      <span><mat-icon>trending_up</mat-icon>Most Popular</span>
      <p>{{ topThreeProducts[0] }}</p>
    </mat-card>
    <mat-card>
      <span><mat-icon>trending_down</mat-icon>Most Popular</span>
      <p>{{ productWithLowestCount }}</p>
    </mat-card>
  </div>
</div>
