<div class="forgot-password-wrapper">
  <div class="forgot-password-container">
    <div class="forgot-password">
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

      <h1>Forgot Password</h1>
      <div class="text-container">Enter your email address</div>
      <form (submit)="resetPassword(email)">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Enter email address</mat-label>
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Enter email address"
            matInput
            required
          />
        </mat-form-field>
        <div *ngIf="isEmailValid" class="error-message">
          Provide a valid email address
        </div>

        <button type="submit">Send me the email</button>
      </form>
      <div
        *ngIf="sendMail"
        [ngClass]="{ 'submit-btn': sendMail, 'fade-out': fadeOutBtn }"
        class="submit-btn"
      >
        The email has been sent
      </div>
    </div>
  </div>
</div>
