.mat-drawer-container {
  height: 100vh;
  background-color: #16103a;
}

mat-drawer {
  border: none;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
  background-color: #282953;
  color: white;
}

.menu-icon {
  cursor: pointer;
}

.sidenav {
  width: 250px;
}

.logo-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding-left: 25px;
  padding-right: 16px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 80%;
  }
}

mat-toolbar,
mat-toolbar-row {
  min-height: 56px;
  height: 56px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 57px);
  background-color: #282953;
  color: #fff;

  @media (max-height: 1200px) {
    height: calc(100% - 100px);
  }
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  li {
    padding-left: 40px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    box-sizing: border-box;

    .user-name {
      word-wrap: break-word;
      margin: 0;
    }

    &:hover {
      background-color: #3f51b5;
    }

    &:focus {
      outline: none;
    }
  }
}

.active {
  background-color: #3f51b5;
}

.sidebar-bottom-section {
  margin-bottom: 120px;
}

.router-container {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 16px;
  padding-bottom: 90px;
  max-width: 1280px;

  @media (max-width: 800px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.mat-toolbar {
  width: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hide-drawer {
  display: none !important;
}

.dNone {
  display: none !important;
}

.dBlock {
  display: flex !important;
}

.turn-right {
  transform: scaleY(-1);
}
