<div class="register-wrapper">
  <div class="register-container">
    <mat-icon
      matTooltip="Login Options"
      matTooltipPosition="below"
      routerLink="/sign-in"
      class="arrow-back"
      >arrow_back_ios_new</mat-icon
    >

    <div class="register">
      <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

      <h1>Sign up</h1>

      <form (submit)="onSubmit(email, password, name)" class="sign-in-section">
        <!-- Name input -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input
            type="text"
            [(ngModel)]="name"
            name="name"
            placeholder="Name"
            autocomplete="off"
            matInput
            required
          />
        </mat-form-field>

        <!-- Email input -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            [(ngModel)]="email"
            name="email"
            placeholder="Email"
            autocomplete="off"
            matInput
            required
            (input)="validateMail()"
          />
        </mat-form-field>

        <div *ngIf="!isEmailValid" class="error-message">
          Please provide a valid email address.
        </div>

        <div *ngIf="isEmailExists" class="error-message">
          This email address is already registered.
        </div>

        <!-- Password input -->
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Password"
            autocomplete="off"
            required
            (input)="validatePassword()"
          />
        </mat-form-field>
        <div *ngIf="!isPasswordValid" class="error-message">
          Password must have at least 8 characters, including one number, one
          uppercase letter, and one lowercase letter.
        </div>

        <div *ngIf="registerError" class="error-message">
          It appears there was an error during registration. Please try again
          later.
        </div>

        <button
          [disabled]="!ispassword"
          [ngClass]="{ disabled: !ismail || !ispassword }"
          type="submit"
        >
          Sign up
        </button>
      </form>
    </div>
    <div class="account-container">
      Already have an account? <a routerLink="/sign-in">Sign in</a>
    </div>
  </div>
</div>
