.register-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: linear-gradient(to bottom, #324194, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  width: 300px;
  background-color: #fff;
  padding: 24px 32px;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  position: absolute;

  h1 {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
  }

  input {
    width: 100%;
  }

  button {
    margin: 16px 0;
    background-color: #405de6;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    width: 100%;

    &:hover {
      background-color: #3f51b5;
    }
  }
}

.register {
  position: relative;

  mat-progress-bar {
    position: absolute;
    left: -32px;
    right: -32px;
    top: -24px;
    width: calc(100% + 64px);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}

.account-container {
  text-align: center;
  a {
    text-decoration: none;
    color: #0000ff;
    font-weight: 600;
  }
}

.arrow-back {
  position: absolute;
  top: 28px;
  left: 25px;
  cursor: pointer;
  z-index: 1000;
}

.disabled {
  background-color: gray !important;
  cursor: unset !important;
}
